@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: 100%;
  height: 100%;
}
img.heroImg {
  filter: blur(2px);
}
img.placeOfIntrest {
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

img.placeOfIntrest:hover {
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
}
